/* Shop.css */

.Shop {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-left: 150px;
}

.catalog {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.list {
    margin-bottom: 15px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.remove-button button {
    background-color: #dc3545;
    width: 100px;
    margin-bottom: 20px;
}

    .remove-button button:hover {
        background-color: #bd2130;
    }

.add-button button {
    width: 100px;
    margin-bottom: 20px;
}

.checkout-button button {
    background-color: #5f9975;
    width: 100px;
    margin-bottom: 20px;
}
    .checkout-button button:hover {
        background-color: #5f8575;
    }

.empty-cart-message {
    color: red;
    font-size: 12px; /* Adjust the font size as needed */
    margin-top: 4px; /* Add some space above the error message */
}